.header {
    height: 70px;
    line-height: 70px; /* vertically center */
    background-color: #526dc7;
    box-shadow: 0px 3px 3px black;
    display: flex;
}

#home-link {
    background-color: transparent;
    font-size: 35px;
    font-weight: 550;
    margin-left: 25px;
    margin-right: 25px;
    transition: 0.1s;
}

#home-link:hover {
    color: #919fd0;
}

.header > p,
.header > a {
    background-color: transparent;
    font-size: 25px;
    font-weight: 400;
}

.header-item {
    margin-left: 25px;
    text-decoration: none;
    text-decoration-thickness: 1px;
    vertical-align: middle;
}

.header-item:hover {
    text-decoration: underline;
}